/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.color-transition {
  @apply transition-all duration-500 ease-in-out;
}
